{% extends 'base.html.twig' %}
{% block title %}{{ 'destination.add.title'|trans }}{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/css/destinations.css" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="destinations">
    <h1>{{ 'destination.add.title'|trans }}</h1>
    <p class="page-number">{{ 'destination.add.page'|trans }} {{ pag }}</p>

    <form action="{{ path('destination_list') }}" method="GET" class="destination-form">
        {% if destination %}
            <input type="hidden" name="destination" value="{{ destination | upper }}">
        {% endif %}

        <div class="destination-header">
            <label for="destination-input">{{ 'destination.add.destination'|trans }}</label>
            <input type="text" id="destination-input" name="destination"
                   value="{{ destination | upper }}" {% if destination %}disabled{% endif %} required>
        </div>

        <table class="destination-table">
            <thead>
                <tr>
                    <th>{{ 'destination.add.actions'|trans }}</th>
                    <th>{{ 'book.fields.isbn'|trans }}</th>
                    <th>{{ 'book.fields.title'|trans }}</th>
                    <th>{{ 'book.fields.author'|trans }}</th>
                    <th>{{ 'book.fields.publisher'|trans }}</th>
                    <th>{{ 'book.fields.price'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td class="destination-actions">
                            <label class="radio-label">
                                <input type="radio" name="destina[{{ book.id }}]" value="on"
                                       {% if book.selected %}checked{% endif %}>
                                {{ 'destination.add.yes'|trans }}
                            </label>
                            <label class="radio-label">
                                <input type="radio" name="destina[{{ book.id }}]" value="off"
                                       {% if not book.selected %}checked{% endif %}>
                                {{ 'destination.add.no'|trans }}
                            </label>
                        </td>
                        <td>{{ book.ISBN }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.price | format_currency('EUR') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="hidden" name="start" value="{{ start | default(0) }}">

        <div class="destination-buttons">
            <button type="submit" name="invia" value="forward">{{ 'destination.add.forward'|trans }}</button>
            <button type="submit" name="invia" value="back">{{ 'destination.add.back'|trans }}</button>
            <button type="submit" name="invia" value="save">{{ 'destination.add.save'|trans }}</button>
            <button type="reset">{{ 'destination.add.reset'|trans }}</button>
        </div>
    </form>

    {% if destination %}
        <div class="pagination">
            {% for page in pages %}
                <a href="{{ path('destination_list', {'destination': destination | upper, 'start': page.start}) }}"
                   class="page-link">{{ page.page }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <p class="new-destination">
        <a href="{{ path('destination_list', {'destination': '_NEW'}) }}">{{ 'destination.add.new'|trans }}</a>
    </p>
</section>
{% endblock content %}
