{% extends 'base.html.twig' %}
{% block title %}{{ 'destination.add.title'|trans }}{% endblock title %}
{% block content %}
<h1 align="center">{{ 'destination.add.title'|trans }}</h1>
<p align="center">{{ 'destination.add.page'|trans }} {{ pag }}</p>
<form action="/destinations" method="GET">
    {% if destination %}
        <input type="hidden" name="destination" value="{{ destination | upper }}">
    {% endif %}

    <table width="100%" border="1" align="center">
        <tr>
            <td colspan="7">
                <p align="center">
                    <input type="text" name="destination" value="{{ destination | upper }}"
                           style="width: 400px" {% if destination %}disabled{% endif %}></p>
            </td>
        </tr>
        {% for book in books %}
        <tr>
            <td>
                {{ 'destination.add.yes'|trans }}
                <input name="destina[{{ book.id }}]" type="radio"
                       value="on" {% if book.selected %}checked{% endif %}>
                {{ 'destination.add.no'|trans }}
                <input name="destina[{{ book.id }}]" type="radio"
                       value="off" {% if not book.selected %}checked{% endif %}>
            </td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
        </tr>
        {% endfor %}
    </table>

    <input type="hidden" name="start" value="{{ start | default(0) }}">
    <table align="center" border="1">
        <tr>
            <td><input name="invia" type="submit" value="{{ 'destination.add.forward'|trans }}"></td>
            <td><input name="invia" type="submit" value="{{ 'destination.add.back'|trans }}"></td>
            <td><input name="invia" type="submit" value="{{ 'destination.add.save'|trans }}"></td>
            <td><input type="reset" value="{{ 'destination.add.reset'|trans }}"></td>
        </tr>
    </table>
</form>
{% if destination %}
    {% for page in pages %}
        <a href="/destinations?destination={{ destination | upper }}&start={{ page.start }}">{{ page.page }}</a>
    {% endfor %}
{% endif %}
<p align="center"><a href="/destinations?destination=_NEW">{{ 'destination.add.new'|trans }}</a></p>
{% endblock content %}
