{% extends "base.html.twig" %}
{% block title %}{{ 'book.add.title'|trans }}{% endblock title %}
{% block content %}
<h1>{{ 'book.add.title'|trans }}</h1>
{% if error %}
    <p class="error-message">{{ 'book.add.error'|trans }}</p>
{% elseif inserted %}
    <p class="success-message">{{ 'book.add.success'|trans }}</p>
{% else %}
    {{ form_start(form, {attr: {class: 'sf-form'}}) }}
    {{ form_widget(form) }}
    <button type="submit" >{{ 'book.actions.add' | trans }}</button>
    {{ form_end(form) }}
{% endif %}
{% endblock content %}
