{% extends "base.html.twig" %}
{% block title %}{{ 'book.add.title'|trans }}{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/css/books.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>{{ 'book.add.title'|trans }}</h1>
{% if error %}
    <p class="error-message">{{ 'book.add.error'|trans }}</p>
{% elseif inserted %}
    <p class="success-message">{{ 'book.add.success'|trans }}</p>
{% else %}
    {{ form(form) }}
{% endif %}
{% endblock content %}
