{% extends "base.html.twig" %}
{% block title %}{{ 'book.delete.title'|trans }}{% endblock title %}
{% block content %}
{% if deleted %}
    <p>{{ 'book.delete.success'|trans }}</p>
{% else %}
    <h1 align="center">{{ 'book.delete.warning'|trans }}</h1>
    <h1 align="center">{{ 'book.delete.confirm'|trans }}</h1>
    <h2 align="center">{{ 'book.delete.irreversible'|trans }}</h2>
    {% if book %}
        {% include 'books/tabdel.html.twig' %}
    {% else %}
        <div align="center">
            <form action="/books/delete" method="post" name="form1">
                {{ 'book.fields.isbn'|trans }}
                <input type="text" name="ISBN">
                <input type="submit" name="Invia" value="{{ 'book.delete.search.button'|trans }}">
            </form>
            <script language="JavaScript" type="text/javascript">
                document.form1.ISBN.focus();
            </script>
        </div>
    {% endif %}
{% endif %}
{% endblock content %}