{% extends "base.html.twig" %}
{% block title %}{{ 'book.edit.title'|trans }}{% endblock title %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/books/common.js"></script>
{% endblock %}
{% block content %}
<h1>{{ 'book.edit.title'|trans }}</h1>
{% if updated %}
    <p class="success-message">{{ 'book.edit.success'|trans }}</p>
{% elseif book %}
    {{ form(form) }}
{% else %}
    {% include "books/tabsearch4mod.html.twig" %}
{% endif %}
{% endblock content %}
