{% extends "base.html.twig" %}
{% block content %}
<table border="1" align="center" width="755">
    <thead>
        <tr>
            <th>{{ 'book.fields.isbn'|trans }}</th>
            <th>{{ 'book.fields.title'|trans }}</th>
            <th>{{ 'book.fields.author'|trans }}</th>
            <th>{{ 'book.fields.publisher'|trans }}</th>
            <th>{{ 'book.fields.price'|trans }}</th>
        </tr>
    </thead>
    {% for book in books %}
        <tr>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.price }}</td>
        </tr>
    {% endfor %}
</table>

<p>{{ 'book.list.count'|trans({'%count%': count}) }}</p>
{% endblock content %}
