<p>
<table width="590" border="1" align="center">
  <tr>
    <th width="80">ISBN:</th>
    <td>
      {{ book.ISBN }}
    </td>
  </tr>
  <tr>
    <th width="80">Titolo:</th>
    <td>
      {{ book.title }}
    </td>
  </tr>
  <tr>
    <th width="80">Autore:</th>
    <td>
      {{ book.author }}
    </td>
  </tr>
  <tr>
    <th width="80">Editore:</th>
    <td>
      {{ book.publisher }}
    </td>
  </tr>
  <tr>
    <th width="80">Prezzo:</th>
    <td>
      {{ book.price }}
    </td>
  </tr>
  <tr>
    <th width="80">Valutazione:</th>
    <td><u>{{ book.rate }}</u></td>
  </tr>
</table>
</p>
<form action="/books/delete" method="post">
  <input type="submit" value="Cancella libro">
  <input type="hidden" name="ISBN" value="{{ book.ISBN }}">
  <input type="hidden" name="delete" value="true">
</form>