<section class="book-view">
    <table class="book-table">
        <tr>
            <th>{{ 'book.list.number'|trans }}</th>
            <td>{{ numero }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.isbn'|trans }}:</th>
            <td>{{ ISBN }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.title'|trans }}:</th>
            <td>{{ Titolo }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.author'|trans }}:</th>
            <td>{{ Autore }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.publisher'|trans }}:</th>
            <td>{{ Editore }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.price'|trans }}:</th>
            <td>{{ Prezzo }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.rating'|trans }}:</th>
            <td>{{ Valutazione }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.store_credit'|trans }}:</th>
            <td>{{ Buono }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.cash'|trans }}:</th>
            <td>{{ Contanti }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.destination'|trans }}:</th>
            <td>{{ dest }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.actions.title'|trans }}:</th>
            <td class="book-actions">
                <a href="{{ path('purchase_current', {id: 'current', Cancella: book_id}) }}">{{ 'book.list.actions.delete'|trans }}</a>
                <a href="{{ path('book_edit', {ISBN: ISBN}) }}">{{ 'book.list.actions.edit'|trans }}</a>
            </td>
        </tr>
    </table>
</section>
