{% extends 'base.html.twig' %}
{% block title %}{{ 'statistics.title'|trans }}{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/css/statistics.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="statistics">
    <h1>{{ 'statistics.title'|trans }}</h1>

    <div class="statistics-summary">
        <div class="stat-item">
            <h2>{{ 'statistics.books.title'|trans }}</h2>
            <ul>
                <li>
                    <span class="stat-label">{{ 'statistics.books_purchased'|trans }}:</span>
                    <span class="stat-value">{{ books_purchased }}</span>
                </li>
                <li>
                    <span class="stat-label">{{ 'statistics.books_not_found'|trans }}:</span>
                    <span class="stat-value">{{ not_found_count }}</span>
                </li>
            </ul>
        </div>

        <div class="stat-item">
            <h2>{{ 'statistics.shots.title'|trans }}</h2>
            <ul>
                <li>
                    <span class="stat-label">{{ 'statistics.shots.found'|trans }}:</span>
                    <span class="stat-value">{{ successful_hits }}</span>
                </li>
                <li>
                    <span class="stat-label">{{ 'statistics.shots.not_found'|trans }}:</span>
                    <span class="stat-value">{{ error_hits }}</span>
                </li>
                <li>
                    <span class="stat-label">{{ 'statistics.shots.total'|trans }}:</span>
                    <span class="stat-value">{{ total_hits }}</span>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}
