{% extends 'base.twig' %}
{% block title %}Statistiche{% endblock title %}

{% block content %}
<p>Libri acquistati: <b>{{ libriacq }}</b></p>
<p>Libri (unici) non trovati: <b>{{ nerrori }}</b></p>
<p>&nbsp;</p>
<p><b>"Spari"</b></p>
<p>Trovati: <b>{{ spariok }}</b></p>
<p>Non trovati: <b>{{ errspari }}</b></p>
<p>Totali: <b>{{ totspari }}</b></p>
{% endblock content %}
