{% extends 'base.html.twig' %}
{% block content %}
<section class="purchase-list">
    <h1>{{ 'purchase.menu.list'|trans }}</h1>
    <table class="purchase-table">
        <thead>
            <tr>
                <th>{{ 'purchase.list.purchase'|trans }}</th>
                <th>{{ 'purchase.list.books_count'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td><a href="{{ path('purchase_current', {id: purchase.purchase_id}) }}">{{ purchase.purchase_id }}</a></td>
                    <td>{{ purchase.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}
