{% extends 'base.html.twig' %}
{% block content %}
<h1 align="center">{{ 'purchase.menu.list'|trans }}</h1>
<table width="400" align="center">
    <thead>
        <tr>
            <td>{{ 'purchase.list.purchase'|trans }}</td>
            <td>{{ 'purchase.list.books_count'|trans }}</td>
        </tr>
    </thead>
    {% for purchase in purchases %}
        <tr>
            <td><a href="/purchases/{{ purchase.purchase_id }}">{{ purchase.purchase_id }}</a> </td>
            <td>{{ purchase.count }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
