<section class="purchase-item">
    <table class="purchase-table">
        <tr>
            <th>{{ 'book.list.number'|trans }}</th>
            <td>{{ sequence }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.isbn'|trans }}:</th>
            <td>{{ ISBN }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.title'|trans }}:</th>
            <td>{{ title }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.author'|trans }}:</th>
            <td>{{ author }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.publisher'|trans }}:</th>
            <td>{{ publisher }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.price'|trans }}:</th>
            <td>{{ price | money_format }}</td>
        </tr>
        <tr>
            <th>{{ 'book.fields.rating'|trans }}:</th>
            <td>{{ rate }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.store_credit'|trans }}:</th>
            <td>{{ storeCredit | money_format }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.cash'|trans }}:</th>
            <td>{{ cashValue | money_format }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.destination'|trans }}:</th>
            <td>{{ dest }}</td>
        </tr>
        <tr>
            <th>{{ 'book.list.actions.title'|trans }}:</th>
            <td class="book-actions">
                <a href="{{ path('purchase_current', {id: purchase_id, Cancella: bookId}) }}">{{ 'book.list.actions.delete'|trans }}</a>
                <a href="{{ path('book_edit', {ISBN: ISBN}) }}">{{ 'book.list.actions.edit'|trans }}</a>
            </td>
        </tr>
    </table>
</section>
